# Pandas - Working with Time Series Date Data

In [22]:
import pandas as pd
from datetime import datetime
import numpy as np

# Let's create a pandas series that logs time every hour from 1st Nov'19 to 7th Nov'19
df = pd.date_range(start='11/01/2019', end='11/07/2019', freq='H')
df

DatetimeIndex(['2019-11-01 00:00:00', '2019-11-01 01:00:00',
               '2019-11-01 02:00:00', '2019-11-01 03:00:00',
               '2019-11-01 04:00:00', '2019-11-01 05:00:00',
               '2019-11-01 06:00:00', '2019-11-01 07:00:00',
               '2019-11-01 08:00:00', '2019-11-01 09:00:00',
               ...
               '2019-11-06 15:00:00', '2019-11-06 16:00:00',
               '2019-11-06 17:00:00', '2019-11-06 18:00:00',
               '2019-11-06 19:00:00', '2019-11-06 20:00:00',
               '2019-11-06 21:00:00', '2019-11-06 22:00:00',
               '2019-11-06 23:00:00', '2019-11-07 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='H')

**NOTE ISO 8601 format**
-  yyyy-mm-dd hh:mm:ss

In [23]:
len(df)

145

In [24]:
#Now let's turn our series into a dataframe
df = pd.DataFrame(df, columns=['date'])

# And add a 'made up' column for sales data
df['sales'] = np.random.randint(0,1000,size=(len(df)))
df.head()

                 date  sales
0 2019-11-01 00:00:00    591
1 2019-11-01 01:00:00     43
2 2019-11-01 02:00:00    941
3 2019-11-01 03:00:00    850
4 2019-11-01 04:00:00    540

# Selecting using dates

In [25]:
# Set your date as the index 
df = df.set_index('date')
df.head()

                     sales
date
2019-11-01 00:00:00    591
2019-11-01 01:00:00     43
2019-11-01 02:00:00    941
2019-11-01 03:00:00    850
2019-11-01 04:00:00    540

## Using .loc[] to index specific dates

In [26]:
# Selecting using date - getting exact value for cell 
df.loc['2019-11-01 03:00:00', 'sales']

850

In [27]:
# Selecting using date to return the row corresponding to that date
df.loc['2019-11-01 03:00:00']

sales    850
Name: 2019-11-01 03:00:00, dtype: int64

In [28]:
# Selecting an entire day
df.loc['2019-11-01']

# Similary you an use df.loc['2019-11'] to select and entire month

                     sales
date
2019-11-01 00:00:00    591
2019-11-01 01:00:00     43
2019-11-01 02:00:00    941
2019-11-01 03:00:00    850
2019-11-01 04:00:00    540
2019-11-01 05:00:00     75
2019-11-01 06:00:00    849
2019-11-01 07:00:00    479
2019-11-01 08:00:00    826
2019-11-01 09:00:00    342
2019-11-01 10:00:00    302
2019-11-01 11:00:00     47
2019-11-01 12:00:00     11
2019-11-01 13:00:00    613
2019-11-01 14:00:00    485
2019-11-01 15:00:00     69
2019-11-01 16:00:00    710
2019-11-01 17:00:00    304
2019-11-01 18:00:00    406
2019-11-01 19:00:00    441
2019-11-01 20:00:00    642
2019-11-01 21:00:00    283
2019-11-01 22:00:00    589
2019-11-01 23:00:00    523

In [29]:
# Selecting a range of dates
df.loc['2019-11-01':'2019-11-02']

                     sales
date
2019-11-01 00:00:00    591
2019-11-01 01:00:00     43
2019-11-01 02:00:00    941
2019-11-01 03:00:00    850
2019-11-01 04:00:00    540
2019-11-01 05:00:00     75
2019-11-01 06:00:00    849
2019-11-01 07:00:00    479
2019-11-01 08:00:00    826
2019-11-01 09:00:00    342
2019-11-01 10:00:00    302
2019-11-01 11:00:00     47
2019-11-01 12:00:00     11
2019-11-01 13:00:00    613
2019-11-01 14:00:00    485
2019-11-01 15:00:00     69
2019-11-01 16:00:00    710
2019-11-01 17:00:00    304
2019-11-01 18:00:00    406
2019-11-01 19:00:00    441
2019-11-01 20:00:00    642
2019-11-01 21:00:00    283
2019-11-01 22:00:00    589
2019-11-01 23:00:00    523
2019-11-02 00:00:00    253
2019-11-02 01:00:00    835
2019-11-02 02:00:00    226
2019-11-02 03:00:00     70
2019-11-02 04:00:00    112
2019-11-02 05:00:00    504
2019-11-02 06:00:00    779
2019-11-02 07:00:00    491
2019-11-02 08:00:00    743
2019-11-02 09:00:00    529
2019-11-02 10:00:00    835
2019-11-02 11:00:00    877
2019-11-02 12:00:00    971
2019-11-02 13:00:00    572
2019-11-02 14:00:00     92
2019-11-02 15:00:00    508
2019-11-02 16:00:00    112
2019-11-02 17:00:00    606
2019-11-02 18:00:00    347
2019-11-02 19:00:00    882
2019-11-02 20:00:00      6
2019-11-02 21:00:00    200
2019-11-02 22:00:00    433
2019-11-02 23:00:00    841

# Resampling

**Summary States** - we can use Statistical methods over different time intervals
- mean(), sum(), count(), min(), max()

**Down-sampling**
- reduce datetime rows to longer frequency

**Up-sampling**
- increase datetime rows to shorter frequency

In [33]:
# Using resample to get the average for each day per hour

df.resample('D').mean()
#df.resample('D').sum()

            sales
date
2019-11-01  10961
2019-11-02  11824
2019-11-03  11379
2019-11-04  10978
2019-11-05  13363
2019-11-06   9479
2019-11-07    256

In [34]:
# Using resample to get the average for each minute (downsampling)

df.resample('T').mean()

                     sales
date
2019-11-01 00:00:00  591.0
2019-11-01 00:01:00    NaN
2019-11-01 00:02:00    NaN
2019-11-01 00:03:00    NaN
2019-11-01 00:04:00    NaN
...                    ...
2019-11-06 23:56:00    NaN
2019-11-06 23:57:00    NaN
2019-11-06 23:58:00    NaN
2019-11-06 23:59:00    NaN
2019-11-07 00:00:00  256.0

[8641 rows x 1 columns]

## Resampling frequencies

- 'min', 'T' - minute
- ‘H’ - hour
- ‘D’ - day
- ‘B’ - business day
- ‘W’ - week
- ‘M’ - month
- ‘Q’ - quarter
- ‘A’ - year

# Parsing dates

In [56]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
year     2 non-null int64
month    2 non-null int64
day      2 non-null int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [58]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [63]:
pd.to_datetime('2019-01-01', format='%Y-%m-%d', errors='ignore')

Timestamp('2019-01-01 00:00:00')